.site-aside {
  width: 20%;
  padding: 10px;
  margin: 10px;
  float: left;
}

.children {
  margin-left: 16px;
}

.menu-disabled {
  pointer-events: none;
  color: lightgray;
}

.menu-enabled {
  pointer-events: all;
  color: black;
}